.agents
.superdesign
skills-lock.json
node_modules
.DS_Store
*.log
.env
.next
build
dist
out
stitch
Markdown
**/node_modules
**/.next
**/build
**/dist
**/out
**/.superdesign
**/skills-lock.json
**/.agents
**/stitch
**/Markdown
